.cover {
  display: flex;
  flex-direction: row;   
  height: 100vh;
}

.inner-cover {
    display: flex;
    height: 100%;
    margin-left: 20%;

}

body {
  font-family: Arial, sans-serif;
  background: #f2f7fc;
  margin: 0;
  padding: 20px;
}

.dashboard-title {
  color: #2e3d76;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters select {
    flex: 1;
    color: #2e3d76;
}

.filters select,
.filters input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.upload-btn {
  padding: 8px 12px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #2e3d76;
}

.card h3 {
  margin-bottom: 10px;
}

.card .big-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-orange {
  background: #2e3d76;
  color: #f68d4b;
}

